// colors
$primary: #fff600;
$main: #0e76bc;
$black: #000;
$black2: #1d1d1d;
$white: #fff;
$purple: #92278f;
$red: #fe4627;
// fonts
$mainFont: "Averta", sans-serif;
$noeDisplay: "Noe Display", sans-serif;
$bebas: "Bebas Neue", sans-serif;
